<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EmmaFashions</title>
</head>
<body>
  <dSiv class="contents">
    <div class="header">
      <h1>EmmaFashions</h1>
      <p>Partner with us in shopping for the best</p>
    </div>
    <div class="body">
      <div class="title">
        <h2>H1, <%=fullname%></h2>
      </div>
      <div class="rest">
        <p>Welcome <%=fullname%>, to EmmaFashions. Thank you for joining us. Enjoy
          the best of our services with the best of offers and affordable prices. 
          Shop, shop shop!!!. Shopping made easier with faster deliveries of orders,
          get trending Fashion and latest models of Clothing of your choice.
          Welcome on Board, <%=fullname%>. We are looking foward to working with you.
        </p>
        <img src="blur" alt="no image yet">
      </div>
    </div>
  </div>
</body>
</html>